<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!-- <context:component-scan base-package="com.zhaojun"/> bean不用写，-->
	
	<!-- 初始化四个bean  AutowiredAnnotationBeanPostProcessor, CommonAnnotationBeanPostProcessor,
	 PersistenceAnnotationBeanPostProcessor，RequiredAnnotationBeanPostProcessor-->
	
	<context:annotation-config/>
	<bean id="userDao" class="com.zhaojun.dao.impl.UserDAOImpl"/>    
	<bean id="userService" class="com.zhaojun.service.UserService"/><!-- 初始化该类时，检查该类里是否有注解，若有，则初始化该注解对应的域  -->
</beans>